[submodule "rumprun"]
	path = rumprun
	url = https://github.com/GW-SHC/rumprun.git
[submodule "Composite"]
	path = Composite
	url = https://github.com/GW-SHC/Composite.git
	branch = ppos
[submodule "rumprun-packages"]
	path = rumprun-packages
	url = https://github.com/GW-SHC/rumprun-packages.git
